# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

hacking>=1.1.0,<1.2.0 # Apache-2.0
pytest<=3.0.2,>=2.7 # MIT
pytest-cov<=2.3.1,>=2.2.1 # MIT
pytest-html<=1.10.0,>=1.10.0 # Mozilla Public License 2.0 (MPL 2.0)
pytest-logging==2015.11.4 # Apache-2.0

coverage>=4.0 # Apache-2.0
ddt>=1.0.1 # MIT
mock>=2.0 # BSD
python-subunit>=0.0.18 # Apache-2.0/BSD
sphinx>=1.6.2 # BSD
sphinxcontrib-programoutput # BSD
sphinx_rtd_theme # MIT
openstackdocstheme>=1.11.0 # Apache-2.0
oslotest>=1.10.0 # Apache-2.0
testrepository>=0.0.18 # Apache-2.0/BSD
testscenarios>=0.4 # Apache-2.0/BSD
testtools>=1.4.0 # MIT

# releasenotes
reno>=1.8.0 # Apache-2.0
